<div class="contact_container">
  <div class="contact_info">
    <div>
    
  </div>
  <div>

  </div>
  </div>
  <div class="contact_image">
    <img src="/assets/Binnorie - Building.jpeg" alt="Binnorie Building">
  </div>
</div>
