
<div class="contact_container">
  <div>
    <img class="contact-top-image" src="/assets/Binnorie - Brie.jpeg" alt="Binnorie: Brie Cheese">
  </div>
  <div class="contact_info">
    <div>
    <ul class="contact-details">
      <span class="contact_title"><li>Binnorie Dairy</li></span>
      <li>Address: 25 Lodge Road Lovedale NSW 2325</li>
      <li>Open: 10:00 - 17:00 daily</li>
      <li>Tel: 0249 986 660</li>
      <li>Email: simon@binnorie.com.au</li>
    </ul>
    <p class="contact_p">No bookings required! Pop in anytime to try and buy cheeses and charcuterie, browse our pantry products, or stay a whilst for coffee or a meal.</p>
  </div>
  <div>
    <iframe class="contact_map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13419.149265983353!2d151.3638916!3d-32.7713775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf63345f65ba5379c!2sBinnorie%20Dairy!5e0!3m2!1sen!2sau!4v1623199597060!5m2!1sen!2sau" width="600" height="450" allowfullscreen="" loading="lazy"></iframe>
  </div>
  </div>
  <div class="contact_image">
    <img src="/assets/Binnorie - Building.jpeg" alt="Binnorie Building">
  </div>
</div>
