<div>
  <img class="success-top-image" src="/assets/Binnorie - Cheese Image 5.jpeg" alt="Binnorie - Cheese Image 5.jpeg">
</div>
<div class="container">
  <h3 class="success_heading">Thank you for your purchase.</h3>
</div>

<div class="success_container">

  </div>
