.contact_container {
  font-family: droid-serif,serif;
  font-weight: 400;
  font-style: normal;
}

.contact_info {
  display: flex;
  display: inline-grid;
  grid-template-columns: 50% 50%;
}

.contact-details {
list-style-type: none;
line-height: 30px;
font-size: 15px;
margin-top: 8em;
margin-left: 2em;
}

.contact_title {
  color: #f47b21;
  font-weight: bold;
  font-size: 20px;
}

.contact_p {
text-align: center;
    margin-left: 6em;
    margin-top: 4em;
    width: 37em;
    font-size: 16px;
    font-weight: bold;
}
.contact_map {
  border: 4px solid #333333;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 5em;
}

.contact_image {
  
}

.contact_form {

}
