.accordion-button:not(.collapsed) {
    color: #333333;
    background-color: #f47b21;
    box-shadow: inset 0 -1px 0 #f79f5d;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:focus {
    border-color: #f79f5d;
    box-shadow: 0 0 0 0.25rem #f79f5d;
}
