@import url("https://use.typekit.net/ypu4ipn.css");
.container {
  /* margin: 0 !important; */
}
/* home page */
.home_container {
  font-family: droid-serif,serif;
  font-weight: 400;
  font-style: normal;
}
.home_about {
  height: 320px;
  width: 960px;
  margin: 0 auto;
  font-family: droid-serif,serif;
  text-align: center;
  padding-top: 1em;
  color: #333333;
}
.food_information {
  width: 960px;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 14em 3em 9em 3em;
  text-align: center;
  margin-left: 17em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.home_food {
  width: 100%;
  height: 540px;
  background-color: #999999;
}
.cheese_charcuterie {
  font-family: droid-serif,serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
.home_information_cheese_charcuterie {
  width: 23em;
  padding-left: 7em;
}
.home_img_cheese_charcuterie{
  width: 45%;
  border: 4px solid #333333;
  border-radius: 10px;
}
.home_p {
  font-size: 15px;
}
.button {
  display: inline-block;
  padding: 13px 25px;
  min-width: 170px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.115em;
  color: #fff!important;
  background: #000;
  background: transparent;
  outline: 3px solid #000!important;
  color: #000!important;
}
.carousel_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
