h3 {
  margin-top: 0.5em;
}

.row {
  margin-top: 1em;
}

.product-card {
  /* border: 1px solid #333333; */
  margin: 1em;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.inner-card {
  max-width: 66%;
  height: 90%;
  /* border: 1px solid #333333; */
  margin: 0 auto;
  text-align: left;
}

.product-preview {
  max-width: 100%;
  margin-top: 1em;
  border-radius: 5px;
}

button {
  margin-bottom: 1em;
}

.price {
  font-weight: bold;
}
