@import url("https://use.typekit.net/ypu4ipn.css");

.grey {
  background-color: #333333;
  width: 100%;
  height: 115px;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-end; */
}

.transparent {
  background-color: rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 6em;
  position: absolute;
  top: 115px;
  z-index: 10;
}

.main-logo {
  max-width: 172px;
  margin: -95px 43% 0% 43%;
}

a {
  text-decoration: none;
}

nav {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  overflow: auto;
  display: flex !important;
  justify-content: space-around !important;
  z-index: 20;
  padding-top: 3em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  color: #f47b21;
  text-decoration: none;
  font-size: 17px;
}

.footer-logo {
  max-width: 11.5em;
  padding-top: 10px;
  margin-left: 10px;
}

.grey-footer {
  background-color: #333333;
  width: 100%;
  height: 260px;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: 17% 32% 40%;
  padding-top: 2em;
  padding-left: 2em;
}

.footer-text {
  font-family: droid-serif, serif;
  font-style: normal;
  color: white;
}

.contact-footer {
  list-style-type: none;
  line-height: 30px;
  font-size: 15px;
}

.contact-details-footer {
  margin-left: 32px;
  font-weight: 400;
  color: #f47b21;
  font-size: 20px;
}

.social-link {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.social-link:hover {
  transform: scale(1.2);
}

.socials-footer {
  text-align: right;
  word-spacing: 2em;
}
