<div class="container">
  <div class="row">
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Labna.jpeg') %>" alt="Labna image" class="product-preview">
        <h3>Labna</h3>
        <p>Creamy and delicatable strained yoghurt balls.</p>
      </div>
    </div>
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Marinated Fetta.jpeg') %>" alt="Marinated Fetta image" class="product-preview">
        <h3>Marinated Fetta</h3>
        <p>A rich, full-flavoured Fetta that's perfect for Bruschetta, Avocado Toast, or your favourite salad.</p>
      </div>
    </div>
    <div class="col product-card">
      <div class="inner-card">
        <img src="<%= image_path('Binnorie - Chevre and Dill.jpeg') %>" alt="Marinated Fetta image" class="product-preview">
        <h3>Chevre and Dill</h3>
        <p>Chevre and Dill is an airy flavourful whipped cheese. Pairs perfectly with smoked salmon.</p>
      </div>
    </div>
  </div>
</div>
